API_PORT=
NODE_ENV=

DEV_DB_URL=
PROD_DB_URL=

API_PASS=
API_HOST=
API_PORT=
API_USER=

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

ACCESS_TOKEN_KEY=
ACCESS_TOKEN_TIME=
REFRESH_TOKEN_KEY=
REFRESH_TOKEN_TIME=
